#box{
    background-color: blue;
    /* color:black;  */
}
/* .heading{
    color:red;} */

}
button{
    background-color:green
}
p{
    text-align: right;
}

a{
    text-decoration: none;
}
#one{
    font-family: Arial, Helvetica, sans-serif;
}